networks:
  forgejo:
    external: false

services:
  server:
    container_name: forgejo
    image: codeberg.org/forgejo/forgejo:{{ forgejo_version | default('13') }}
    restart: unless-stopped
    networks:
      - forgejo
    ports:
      - "0.0.0.0:{{ forgejo_port | default('3000') }}:3000"
      - "0.0.0.0:{{ forgejo_ssh_port | default('2222') }}:22"
    volumes:
      - /var/lib/forgejo/data:/data
      - /etc/timezone:/etc/timezone:ro
      - /etc/localtime:/etc/localtime:ro
    environment:
      - USER_UID=1000
      - USER_GID=1000
      - FORGEJO__database__DB_TYPE=mysql
      - FORGEJO__database__HOST=db:3306
      - FORGEJO__database__NAME=forgejo
      - FORGEJO__database__USER=forgejo
      - FORGEJO__database__PASSWD={{ forgejo_db_password }}
    depends_on:
      - db
    cap_drop:
      - ALL
    cap_add:
      - CHOWN
      - SETGID
      - SETUID
      - DAC_OVERRIDE
      - FOWNER
      - NET_BIND_SERVICE
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"

  db:
    container_name: forgejo-db
    image: mysql:8
    restart: unless-stopped
    networks:
      - forgejo
    environment:
      - MYSQL_ROOT_PASSWORD={{ forgejo_db_root_password }}
      - MYSQL_USER=forgejo
      - MYSQL_PASSWORD={{ forgejo_db_password }}
      - MYSQL_DATABASE=forgejo
    volumes:
      - /var/lib/forgejo/mysql:/var/lib/mysql
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"
