[Unit]
Description=Mount NAS backup share for Observability
After=wait-for-nas.service
Requires=wait-for-nas.service

[Mount]
What={{ observability_backup_share }}
Where=/mnt/observability-backups
Type=cifs
Options=credentials=/etc/observability-backup-nas-credentials,uid=0,gid=0,iocharset=utf8,vers=3.0,_netdev,x-systemd.device-timeout=30s

[Install]
WantedBy=multi-user.target