all:
  children:
    homelab:
      hosts:
        homelab-vm:
          ansible_host: x.x.x.x
          ansible_user: ansible
          ansible_python_interpreter: /usr/bin/python3
          ansible_become_method: sudo
          system_shell: /bin/bash
          os_family: Debian
          host_roles:
            - base
            - docker
            - ingress
            - observability
            - monitoring-hl
            - promtail-hl
            - forgejo
            - immich
            - navidrome
            - ntfy
#            - seedbox
          hostname: homelab-vm

