# misskey settings

# db settings
POSTGRES_PASSWORD={{ sharkey_db_password }}
# DATABASE_PASSWORD=${POSTGRES_PASSWORD}
POSTGRES_USER=misskey-user
# DATABASE_USER=${POSTGRES_USER}
POSTGRES_DB=misskey
# DATABASE_DB=${POSTGRES_DB}
DATABASE_URL="postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@db:5432/${POSTGRES_DB}"
