[Unit]
Description=Mount NAS files share for FileCDN (read-only)
After=wait-for-nas.service
Requires=wait-for-nas.service

[Mount]
What={{ filescdn_files_share }}
Where=/mnt/filescdn
Type=cifs
Options=credentials=/etc/filescdn-nas-credentials,uid=0,gid=0,iocharset=utf8,vers=3.0,ro,_netdev,x-systemd.device-timeout=30s

[Install]
WantedBy=multi-user.target