[Unit]
Description=Mount NAS music share for Navidrome (read-only)
After=wait-for-nas.service
Requires=wait-for-nas.service

[Mount]
What={{ navidrome_music_share }}
Where=/mnt/music
Type=cifs
Options=credentials=/etc/navidrome-nas-credentials,uid=1000,gid=1000,iocharset=utf8,vers=3.0,ro,_netdev,x-systemd.device-timeout=30s

[Install]
WantedBy=multi-user.target
