services:
  navidrome:
    image: deluan/navidrome:latest
    user: 1000:1000 # should be owner of volumes
    ports:
      - "80:4533"
    restart: unless-stopped
    environment:
      ND_ENABLEINSIGHTSCOLLECTOR: false
    volumes:
      - "/opt/navidrome/data:/data"
      - "/mnt/music:/music:ro"
