#!/bin/bash

# MinIO Credentials for Navidrome
export AWS_ACCESS_KEY_ID='{{ minio_navidrome_access_key }}'
export AWS_SECRET_ACCESS_KEY='{{ minio_navidrome_secret_key }}'

# Repository Location
# Format: s3:http(s)://endpoint/bucket
export RESTIC_REPOSITORY="s3:{{ minio_endpoint }}/{{ minio_navidrome_bucket }}"

# Repository Encryption Password
export RESTIC_PASSWORD="{{ restic_navidrome_password }}"

# Skip TLS certificate verification for self-signed certificates
export AWS_SDK_LOAD_CONFIG=1
export RESTIC_INSECURE_TLS=true

# Optimization
# Auto compression requires Restic 0.14+
export RESTIC_COMPRESSION="auto"
